<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Render Markdown</title>
    <link rel="stylesheet" href="/static/github-light.css" />
    <style>
      body {
        padding: 1em;
        margin: 0;
      }
      #preview {
        padding: 0.5em;
        border: 1px dotted black;
      }

      button {
        font-size: 1.4em;
      }
    </style>
  </head>
  <body>
    <h1>Render Markdown</h1>
    <p>
      Using GitHub's API, see
      <a href="/til/til/markdown_github-markdown-api.md"
        >Rendering Markdown with the GitHub Markdown API</a
      >
    </p>
    <p><textarea id="input" style="width: 80%; height: 10em"></textarea></p>
    <p>
      <button>Render</button>
      <label
        ><input type="checkbox" id="strip_hidden" checked /> Strip hidden and
        cleanup HTML</label
      >
    </p>
    <p><textarea id="output" style="width: 80%; height: 10em"></textarea></p>
    <div id="preview"></div>
    <script>
      const button = document.getElementsByTagName("button")[0];
      const strip_hidden = document.getElementById("strip_hidden");
      const input = document.getElementById("input");
      const output = document.getElementById("output");
      const preview = document.getElementById("preview");
      button.addEventListener("click", async function () {
        const rendered = await render(input.value);
        output.value = rendered;
        preview.innerHTML = rendered;
        if (strip_hidden.checked) {
          Array.from(preview.querySelectorAll("[aria-hidden]")).forEach((el) =>
            el.parentNode.removeChild(el)
          );
          Array.from(preview.querySelectorAll('[rel="nofollow"]')).forEach(
            (el) => el.removeAttribute("rel")
          );
          // <div class="highlight highlight-source-python">
          Array.from(
            preview.querySelectorAll("div.highlight-source-python")
          ).forEach((el) => el.replaceWith(el.firstChild));
          output.value = preview.innerHTML.replace(/<h([1-6])>\n/g, "<h$1>");
        }
      });

      async function render(markdown) {
        return (
          await fetch("https://api.github.com/markdown", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ mode: "markdown", text: markdown }),
          })
        ).text();
      }

      /* Populate textarea from localStorage */
      if (!input.value && localStorage.getItem("saved")) {
        input.value = localStorage.getItem("saved");
        button.click();
      }
      input.addEventListener("input", () => {
        localStorage.setItem("saved", input.value);
      });
    </script>
  </body>
</html>
