{% extends "base.html" %}

{% set tils = sql("""
    select * from til where path = 'content_' || :topic || '_' || :slug || '.md'
""", {"topic": topic, "slug": slug}, database="til") %}

{% set til = tils[0] if tils else None %}
{% if not til %}
    {% set raised = raise_404("TIL not found") %}
{% endif %}

{% block title %}{{ til.title }} | Taylor Hodge TILs{% endblock %}

{% block extra_head %}
{% import "macros.html" as macros %}
<link rel="stylesheet" href="/static/css/vendor/github-light.css" />
{{ macros.meta_tags(
    title=til.title,
    description=til.summary,
    url="https://til.taylorhodge.me/" ~ til.topic ~ "/" ~ til.slug,
    type="article"
) }}
{% endblock %}

{% block body %}
{% import "macros.html" as macros %}

<h1>{{ til.title }}{{ macros.simple_marginnote(til.topic) }}</h1>

<p class="subtitle">
    Created: {{ til.created_strftime }}{{ macros.sidenote("Last updated: " ~ (til.updated_strftime or til.created_strftime)) }}
</p>

<div class="til-content">
{{ til.html|safe }}
</div>

{{ macros.marginnote("This TIL was created on " ~ til.created_strftime ~ " and is part of the " ~ til.topic ~ " topic collection.") }}

{{ macros.related_tils(til.topic, til.slug, 3) }}

{{ macros.topic_suggestions(til.topic, 4) }}

{% include "partials/_discovery.html" %}

{% set source_path = "content/" ~ til.topic ~ "/" ~ til.slug ~ ".md" %}
{% with show_topic_link=true, topic=til.topic, show_all_link=true, show_source_link=true, source_path=source_path %}
    {% include "partials/_navigation.html" %}
{% endwith %}
{% endblock %}