{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Taylor Hodge — All TILs{% endblock %}

{% block body %}
{% set total_count = sql("select count(*) as count from til", database="til")[0][0] %}

<h1>All TILs{{ macros.simple_marginnote(total_count ~ " total") }}</h1>

{% with discovery_text="Feeling adventurous? Try a random TIL!" %}
    {% include "partials/_discovery.html" %}
{% endwith %}

{% for row in sql("select topic, count(*) as count from til group by topic order by max(created_utc) desc", database="til") %}
<h2>{{ row.topic }}{{ macros.simple_marginnote(row.count ~ " TIL" ~ ("s" if row.count > 1 else "")) }}</h2>
<ul>
    {% for til in sql("select * from til where topic = :topic order by created_utc desc", {"topic": row.topic}, database="til") %}
        {% with show_date=true %}
            {% include "components/til_item.html" %}
        {% endwith %}
    {% endfor %}
</ul>
{% endfor %}

{% with show_home_link=true, show_random=true %}
    {% include "partials/_navigation.html" %}
{% endwith %}
{% endblock %}