{% extends "til_base.html" %}

{% set tils = sql("""
    select * from til where topic = :topic order by created_utc desc 
""", {"topic": topic}, database="til") %}

{% block title %}Taylor Hodge — TILs on {{ topic }}{% endblock %}

{% block body %}
{% if not tils %}
    {{ raise_404("No TILs found") }}
{% endif %}

<h1>Taylor Hodge — TILs on {{ topic }}</h1>

<p>
    {% with href="/tils/feed_by_topic.atom?topic={{ topic }}", title="Atom feed for {{ topic }}" %}
        {% include "components/feed_icon.html" %}
    {% endwith %}
    Atom feed for {{ topic }}
</p>

{% for til in tils %}
<h3>
    <a href="/{{ til.topic }}/{{ til.slug }}">{{ til.title }}</a><span class="marginnote">{{ til.created[:10] }}</span>
</h3>
{% endfor %}
{% endblock %}