{% import "site_config.html" as config %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ config.SITE_TITLE }}{% endblock %}</title>
    {% block meta %}{% endblock %}
    
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tufte-css/1.8.0/tufte.min.css" />
    <link rel="stylesheet" href="/static/components.css" />
    <link rel="stylesheet" href="/static/tufte-code.css" />
    {% endblock %}
    
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body_wrapper %}
    <article>
        {% block header %}
        <section>
            <nav>
                {% block navigation %}
                <h1><a href="/">{{ config.SITE_TITLE }}</a></h1>
                {% endblock %}
            </nav>
        </section>
        {% endblock %}
        
        {% block content_wrapper %}
        <section>
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
        
        {% block footer %}
        <section>
            {{ config.footer_content() }}
        </section>
        {% endblock %}
    </article>
    {% endblock %}
    
    {% block scripts %}{% endblock %}
</body>
</html>