{% import "site_config.html" as config %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="theme-color" content="#1a0dab" />
        <title>{% block title %}{{ config.SITE_TITLE }}{% endblock %}</title>
        {% block meta %}{% endblock %}

        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tufte-css/1.8.0/tufte.min.css" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/mobile.css" />
        {% endblock %}

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block body_wrapper %}
        <article>
            {% block header %}
            <section>
                <nav>
                    {% block navigation %}
                    <h1><a href="/">{{ config.SITE_TITLE }}</a></h1>
                    {% endblock %}
                </nav>
            </section>
            {% endblock %}

            {% block content_wrapper %}
            <section>
                {% block content %}
                {% block body %}{% endblock %}
                {% endblock %}
            </section>
            {% endblock %}
        </article>
        {% endblock %}

        <script src="/static/main.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
