{% extends "base.html" %}

{% block title %}Taylor Hodge - TIL{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/atom+xml" title="Atom" href="/til/feed.atom" />
<link rel="stylesheet" href="/static/forms.css" />
{% endblock %}

{% block body %}
{% set til_count = sql("select count(*) from TIL", database="til")[0][0] %}

<h1>
    Today I Learned
    {% with href="/til/feed.atom", title="Atom feed" %}
        {% include "components/feed_icon.html" %}
    {% endwith %}
</h1>
<p class="subtitle">
    Things I've learned and collected in
    <a href="https://github.com/jthodge/til">jthodge/til</a>.
</p>

{% import "macros.html" as macros %}

<div class="homepage-search">
  {{ macros.search_form(placeholder="Search " ~ til_count ~ " TILs", action="/til/search") }}
</div>

<h2><a href="/all">Browse all {{ til_count }} TILs</a></h2>

<h2>Browse by topic</h2>
<div class="topic-browser">
    {% for row in sql("select topic, count(*) as num_tils from til group by topic order by topic", database="til") %}
        <a class="topic-link" title="{{ row.num_tils }} TIL{{ "s" if row.num_tils > 1 else "" }}" href="/{{ row.topic }}">
            {{ row.topic }}{{ macros.simple_marginnote(row.num_tils) }}
        </a>{% if not loop.last %}<span class="topic-separator"> &middot; </span>{% endif %}
    {% endfor %}
</div>

<h2>Recently added{{ macros.sidenote("Showing the 5 most recently created TILs") }}</h2>
<ul>
    {% for row in sql("select * from til order by created_utc desc limit 5", database="til") %}
    <li>
        <a href="/{{ row.topic }}/{{ row.slug }}">{{ row.title }}</a>{{ macros.simple_marginnote(row.topic) }}
    </li>
    {% endfor %}
</ul>

{% endblock %}
