{% extends "til_base.html" %}
{% import "macros.html" as macros %}

{% block title %}TIL search: {{ q }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/forms.css" />
<link rel="stylesheet" href="/static/search.css" />
<link rel="stylesheet" href="/static/search-page.css" />
{% endblock %}

{% block body %}
<h1>TIL search: {{ q }}</h1>

<div class="search-page">
{{ macros.search_form(placeholder=q, action="/til/search") }}
</div>

{% if q and not rows %}
<p><em>No results for "{{ q }}"</em></p>
{% endif %}

{% for row in rows %}
<p>
    <span class="topic">{{ row.topic }}</span>
    <a href="/{{ row.topic }}/{{ row.slug }}">{{ row.title }}</a> - {{ row.created[:10] }}
</p>

<pre>{{ highlight(row.snippet)|safe }}</pre>
{% endfor %}
{% endblock %}