{# Site configuration - define global variables and settings #}
{% set SITE_TITLE = "Taylor Hodge" %}
{% set SITE_DESCRIPTION = "Things I've learned and collected" %}
{% set SITE_AUTHOR = "Taylor Hodge" %}
{% set GITHUB_REPO = "jthodge/til" %}
{% set BASE_URL = "https://til.taylorhodge.me" %}
{% set DEFAULT_FONT_FAMILY = "et-book, Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif" %}

{# Navigation items #}
{% set NAV_ITEMS = [
    {"title": "Home", "url": "/"},
    {"title": "All TILs", "url": "/all"},
    {"title": "GitHub", "url": "https://github.com/" ~ GITHUB_REPO}
] %}

